body {
  font-family: 'Roboto', sans-serif;
  background-color: hsl(234, 29%, 20%);
}

h1 {
  font-weight: 700;
  font-size: 50px;
}
.container {
  max-width: 800px;
  background-color: hsl(0, 0%, 100%);
  padding: 30px;
  border-radius: 25px;
  margin-top: 70px;
}

.stay-tuned {
  margin-top: 40px;
}

.fa-circle-check {
  color: hsl(4, 94%, 67%);
  padding-right: 10px;
}

.btn-primary {
  background-color: hsl(233, 31%, 20%);
  padding: 15px 60px;
}

.form-label {
  font-weight: 700;
}

img {
  max-width: 100%;
}

.attribution {
  color: white;
  font-size: 11px;
  text-align: center;
  margin: 20px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}
