body {
  font-family: 'Roboto', sans-serif;
  background-color: hsl(235, 18%, 26%);
}

h1 {
  font-weight: 700;
  font-size: 50px;
}
.container {
  max-width: 800px;
  background-color: hsl(0, 0%, 100%);
  padding: 30px;
  border-radius: 25px;
  margin-top: 70px;
}

.stay-tuned {
  margin-top: 40px;
}

.fa-circle-check {
  color: hsl(4, 100%, 67%);
  padding-right: 10px;
}

.btn-primary {
  display: block;
  width: 100%;
}

.btn:focus,
.form-control:focus {
  border: 1px solid hsl(235, 18%, 26%);
  box-shadow: none;
}

.btn-primary {
  background: hsla(233, 31%, 20%) 0%;
  padding: 15px;
  border: none;
  transition: all 200ms ease-in-out;
}

.btn-primary:hover,
.btn-primary:active {
  background: linear-gradient(
    90deg,
    hsla(347, 100%, 66%, 1) 0%,
    hsla(4, 100%, 67%) 100%
  );
  box-shadow: 1px 12px 21px 3px rgba(255, 98, 87, 0.33);
}

.form-label {
  font-weight: 700;
  font-size: 14px;
}

img {
  max-width: 100%;
}

.attribution {
  color: white;
  font-size: 11px;
  text-align: center;
  margin: 20px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}
